$deep-purple--darken-2: #512DA8;
$cyan:#00BCD4;

$base-color-stack:(
    red: (
        red:#F44336,
        red-lighten-5:#FFEBEE,
        red-lighten-4:#FFCDD2,
        red-lighten-3:#EF9A9A,
        red-lighten-2:#E57373,
        red-lighten-1:#EF5350,
        red-darken-1:#E53935,
        red-darken-2:#D32F2F,
        red-darken-3:#C62828,
        red-darken-4:#B71C1C,
        red-accent-1:#FF8A80,
        red-accent-2:#FF5252,
        red-accent-3:#FF1744,
        red-accent-4:#D50000
    ),
    cyan: (
        cyan:#00BCD4,
    ),
    purple: (
        purple: #9C27B0,

    ),
    deep-purple: (
        deep-purple-lighten-1:#7E57C2,
        deep-purple-darken-1:#5E35B1,
        deep-purple-lighten-5:#EDE7F6,

    ),
    orange: (
        orange-darken-4:#E65100,

    ),
    amber: (
        amber:#FFC107,

    ),
    blue-grey: (
        blue-grey-darken-4:#263238,
        blue-grey-lighten-5:#ECEFF1,

    ),

);

///Buttons
$btn-bg-color--primary: map-deep-get($base-color-stack, purple, purple);

///Top nav


$groupColors: red cyan deep-purple purple orange blue-grey amber;

/// Function color.
/// @param {Map} $marge || null. Rewrite items in first map.
/// Usage:
/// color: {color(red, red-accent-3);}
///

@function color(
    $group,
    $variant,
    $allowedGroups: $groupColors,
    $color-stack: $base-color-stack
){
    $color: map-deep-get($color-stack, $group, $variant);

    @if $color {
        
        @if contains($allowedGroups, $group) {
            @return $color;
        }@else{
            @error "Color group #{$group} not allowed by rule #{$allowedGroups}.";
        }
        
    }@else{
        @error "Color #{$variant} not faund in color stack #{$color-stack}.";
    }
};

/// Mixin colorSelector.
/// @param {Map} $marge || null. Rewrite items in first map.
/// Usage:
/// @include colorSelector(red, red-accent-3, color);
///
@mixin colorSelector(
    $group,
    $variant,
    $selector,
    $allowedGroups: red cyan,
    $color-stack: $base-color-stack
) {
    @include color($group, $variant, $allowedGroup, $color-stack);
};

